In [2]:
import pandas as pd
import numpy as np

In [11]:
# dataframes
test = pd.DataFrame([[1, 2], [2, 5], ['c', 'b']], columns=["t1", "t2"])
train = pd.DataFrame([[1, 2], [3, 2], ['a', 'b']], columns=["t1", "t2"])

In [12]:
difference_locations = np.where(test != train)

In [13]:
changed_from = test.values[difference_locations]

In [14]:
changed_to = train.values[difference_locations]

In [22]:
test != train

      t1     t2
0  False  False
1   True   True
2   True  False

In [15]:
ne_stacked = (test != train).stack()

In [16]:
ne_stacked

0  t1    False
   t2    False
1  t1     True
   t2     True
2  t1     True
   t2    False
dtype: bool

In [23]:
type(ne_stacked)

pandas.core.series.Series

In [17]:
changed = ne_stacked[ne_stacked]

In [18]:
changed

1  t1    True
   t2    True
2  t1    True
dtype: bool

In [19]:
changed.index.names = ['id','col']

In [20]:
changed

id  col
1   t1     True
    t2     True
2   t1     True
dtype: bool

In [21]:
pd.DataFrame({'from': changed_from, 'to': changed_to}, index=changed.index)

       from to
id col
1  t1     2  3
   t2     5  2
2  t1     c  a