In [2]:
import pandas as pd 
import numpy as np

In [9]:
# dataframes
test = pd.DataFrame([[1, 2], [None, 2]], columns=["t1", "t2"])
train = pd.DataFrame([[1, 2], [3, '.']], columns=["t1", "t2"])

In [10]:
test.isnull()

      t1     t2
0  False  False
1   True  False

In [11]:
# drop na's from test
test = test.dropna(axis=1,how='any')

In [12]:
test

   t2
0   2
1   2

In [13]:
# make columns match in two dfs
train = train[test.columns]

In [14]:
train

  t2
0  2
1  .