In [1]:
import pandas as pd

In [3]:
from io import StringIO

In [4]:
data = """\
Sample Animal Intelligence
1 Dog Smart
2 Dog Smart
3 Cat Dumb
4 Cat Dumb
5 Dog Dumb
6 Cat Smart"""

In [5]:
dframe = pd.read_table(StringIO(data), sep='\s+')

In [6]:
dframe

   Sample Animal Intelligence
0       1    Dog        Smart
1       2    Dog        Smart
2       3    Cat         Dumb
3       4    Cat         Dumb
4       5    Dog         Dumb
5       6    Cat        Smart

In [7]:
pd.crosstab(dframe.Animal, dframe.Intelligence, margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6

In [20]:
pd.pivot_table(dframe, index=['Animal'], columns =['Intelligence'], aggfunc=len, margins=True)

             Sample
Intelligence   Dumb Smart  All
Animal
Cat             2.0   1.0  3.0
Dog             1.0   2.0  3.0
All             3.0   3.0  6.0