In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
dframe = DataFrame({'k1': ['X','X','Y','Y','Z'], 
                    'k2': ['alpha','beta','alpha','beta','alpha'],
                    'dataset1': np.random.randn(5), 
                    'dataset2': np.random.randn(5)})

In [4]:
dframe

   dataset1  dataset2 k1     k2
0 -1.592853  1.577918  X  alpha
1  0.503774 -0.352606  X   beta
2  0.134767  0.839379  Y  alpha
3 -0.321819  0.884863  Y   beta
4  0.222790 -0.091990  Z  alpha

In [5]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [6]:
group1

In [7]:
group1.mean()

k1
X   -0.544540
Y   -0.093526
Z    0.222790
Name: dataset1, dtype: float64

In [8]:
group = dframe.groupby(dframe['k1'])

In [9]:
group

In [10]:
group.mean()

    dataset1  dataset2
k1
X  -0.544540  0.612656
Y  -0.093526  0.862121
Z   0.222790 -0.091990

In [11]:
citites = np.array(['NY','LA','LA','NY','NY'])
months = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [12]:
dframe['dataset1'].groupby([citites,months]).mean()

LA  FEB    0.503774
    JAN    0.134767
NY  FEB   -0.321819
    JAN   -0.685032
Name: dataset1, dtype: float64

In [13]:
dframe

   dataset1  dataset2 k1     k2
0 -1.592853  1.577918  X  alpha
1  0.503774 -0.352606  X   beta
2  0.134767  0.839379  Y  alpha
3 -0.321819  0.884863  Y   beta
4  0.222790 -0.091990  Z  alpha

In [14]:
dframe.groupby('k2').mean()

       dataset1  dataset2
k2
alpha -0.411765  0.775102
beta   0.090977  0.266128

In [15]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -1.592853  1.577918
   beta   0.503774 -0.352606
Y  alpha  0.134767  0.839379
   beta  -0.321819  0.884863
Z  alpha  0.222790 -0.091990

In [16]:
dframe.groupby('k1').size()

k1
X    2
Y    2
Z    1
dtype: int64

In [22]:
for name,group in dframe.groupby('k1'):
    print ('This is the %s group' %name)
    print (group)
    print ('\n')

This is the X group
   dataset1  dataset2 k1     k2
0 -1.592853  1.577918  X  alpha
1  0.503774 -0.352606  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2  0.134767  0.839379  Y  alpha
3 -0.321819  0.884863  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4   0.22279  -0.09199  Z  alpha

In [24]:
for (k1, k2), group in dframe.groupby(['k1','k2']):
    print ("k1=%s K2=%s" %(k1,k2))
    print (group)
    print ('\n')

k1=X K2=alpha
   dataset1  dataset2 k1     k2
0 -1.592853  1.577918  X  alpha


k1=X K2=beta
   dataset1  dataset2 k1    k2
1  0.503774 -0.352606  X  beta


k1=Y K2=alpha
   dataset1  dataset2 k1     k2
2  0.134767  0.839379  Y  alpha


k1=Y K2=beta
   dataset1  dataset2 k1    k2
3 -0.321819  0.884863  Y  beta


k1=Z K2=alpha
   dataset1  dataset2 k1     k2
4   0.22279  -0.09199  Z  alpha

In [25]:
group_dict = dict(list(dframe.groupby('k1')))

In [26]:
group_dict['X']

   dataset1  dataset2 k1     k2
0 -1.592853  1.577918  X  alpha
1  0.503774 -0.352606  X   beta

In [36]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes, axis=1)))

In [37]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -1.592853  1.577918
 1  0.503774 -0.352606
 2  0.134767  0.839379
 3 -0.321819  0.884863
 4  0.222790 -0.091990, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}